<html>
    <head>
        <link rel='stylesheet' href={{url_for('static', filename='style.css')}} />   
    </head>
    
    <body>
        <p> 
            {%if rand_info[0] == 1 %}
                {{song_name}}  
            {%endif%}
            
            {%if rand_info[1] == 1 %}
                by {{song_artist}}
            {%endif%}
        </p>
        <p> 
            {%if rand_info[2] == 1 %}
                <img src = {{song_image}}> 
            {%endif%}
        </p>
        
        <p>
            {%if rand_info[3] == 1 %}
                <audio controls="">
                    <source src={{song_audio}}>
                </audio>
            {%endif%}
        </p>
        
    </body>
    
</html>